@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
	margin:0;
	padding: 0;

}
#mySection{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
#mySection:before{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top,#37517e,transparent);
	z-index: 10;
}
#mySection:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #37517e;
	z-index: 10;
	mix-blend-mode: color;
}
#mySection img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
#text{
	position: relative;
	color:#fff;
	font-family: 'Poppins',sans-serif;
	font-size: 10em;
	z-index: 1;
}
#road{
	z-index: 2;
}
@media only screen and (min-width: 540px) and (max-width: 890px){
	#text{
		font-size: 6em;
	}
	#mySection #moon{
		margin-left: -300px;
		width: calc(100% + 400px);
	}
	.topip{
	    margin-top:50px;
	}
}
@media only screen and (max-width: 540px){
	#text{
		font-size: 4em;
	}
	#mySection #moon{
		margin-left: -450px;
		width: calc(100% + 500px);
	}
	.topip{
	    margin-top:50px;
	}
}